
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  /*padding: 5px; /*20px;*/
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em 0.75em;
  width: 130px;
  float: right;
  box-shadow: 0 6px #999;
  font-family:Helvetica;
}
.btn:hover {background-color: #e7e7e7;
  font-family:Helvetica;}
.btn:active {
  background-color: #e7e7e7;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
  font-family:Helvetica;
}

.upload-btn-wrapper input[type=file] {
  /*font-size: 100px;*/
  font-size:3vw;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-family:Helvetica;
}

.first{
  box-sizing: border-box;
  /*float: left;*/
  border-style: solid ;
  border-color: #504949;
  border-radius: 10px;
  background: #e9e9e9;
  /*align-items: stretch;*/
  /*margin-left: 100%;*/
  /*margin-top: 10%;*/
  alignment: left;
  display: inline-block;
  position: relative;
  width: 300%;
  /*background: url('https://s20.postimg.org/o09gf7fvx/bag.jpg') no-repeat center top;*/
  /*background-size: contain;*/
  /*padding-top:29%;*/
  font-family:Helvetica;
}
@media (max-width: 1500px)
{ .first {
     width: 200%;}
}
@media (max-width: 1024px)
{ .first {
  width: 129%;}
}
@media (max-width: 500px)
{ .first {
  background: 80%;}
}
.instructions{
  font-size: small;
  font-family:Helvetica;
  font-weight: bold;
  color: #0273D4;
  width: 200%;

}

.examples{
  font-size: small;
  font-family:Helvetica;
}
.donwloadsample{

}


.first{
  margin-bottom: 50px;
}


textarea{
  width: 100%;
  height: 100%;
  font-family:Helvetica;
}

div{
  font-family:Helvetica;
}
