button.toogleChart {
  border-radius: 50%;
  background-color: wheat;
  position: relative;
  margin-left: 4px;

}


i{
  font-size: 24px;
}

/deep/ .node text {
  font: 19% sans-serif;
  font-weight: bolder;
}


/deep/ div.tooltip {
  font: 17px sans-serif;
  position: fixed;
  top:280px;
  right: 50px;
  text-align: center;
  height: 60px;
  padding: 2px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  word-wrap: break-word;
}


/deep/.found {
  fill: #ff4136;
  stroke: #ff4136;
}
