
.selectors {
  display: flex;
}
.select{
  font-family:Helvetica;
  font-size: small;
}

.versionSelect{
  font-family:Helvetica;
  font-size: small;
}
.categorySelect{
  font-family:Helvetica;
  font-size: small;
}

.fa-trash{
  font-size: 20px;
}

h1{
  font-size: xx-large;
  color: #2196F3;
  margin-left: 40%;
  font-family:Helvetica;
}

input[type=text] {

  font-size: small;
  border-color: #2196F3;
  font-family:Helvetica;

}


.holder{
  horiz-align: left;
}



/deep/div.visuals{
position: absolute;
  float: right;
  display: inline-block;
}

.fa-plus{
  color: #71a436;
  font-size: 20px;
}

.deleteVersion{
  margin-left: 2px;
  font-family:Helvetica;
}
.deleteVersion:hover{
  background-color: #ff4136;
  font-family:Helvetica;
}

.newVersion{
  margin-left: 2px;
  font-family:Helvetica;
}
.newVersion:hover{
  background-color: #AFBEC5;
  font-family:Helvetica;
}

.backBtn:hover{
  background-color: darksalmon;
  font-family:Helvetica;
}

.fa-arrow-left{
  font-size: 20px;
}


