

<button class="backBtn" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
<!--<button class="newVersion" routerLink="/hospitals/{{hospital.hospital_id}}/new-version">-->
<button class="newVersion" (click)="newVersionUrl()">
  <i class="fa fa-plus"></i>
</button>

<button class="deleteVersion" (click)="deleteCurrentVariableVersion()">
  <i class="fa fa-trash"></i>
</button>
<h1><i class="fa fa-hospital-o">{{hospital.name}}({{currentVersionName}})</i></h1>

    <!--<a>{{changeVersionId(version.version_id)}}</a>-->
    <br>
    <div class="selectors" style="width: 600px; margin-bottom: 20px;">
      <ng-select class="versionSelect"
                 [allowClear]="true"
                 [options]="versionOptions"
                 [disabled]="disabled"
                 (selected)="versionSelected($event)"
                 (filterInputChanged)="versionFilterInputChanged($event)"
                 (deselected)="versionDeselected($event)"
                 placeholder="Versions...">
      </ng-select>
      <ng-select class="categorySelect"
                 [allowClear]="true"
                 [options]="categoryOptions"
                 [disabled]="disabled"
                 (selected)="categorySelected($event)"
                 (deselected)="categoryDeselected($event)"
                 placeholder="Categories...">
      </ng-select>
      <ng-select class="select"
                 [allowClear]="true"
                 [options]="variableOptions"
                 [disabled]="disabled"
                 (selected)="selected($event)"
                 (filterInputChanged)="filterInputChanged($event)"
                 (deselected)="deselected($event)"
                 placeholder="Search...">
      </ng-select>

    </div>

    <div class="visuals" *ngIf="!editable">
      <app-tree [versionId]="currentVersionId" [(reportOpen)]="reportOpen" [(diagramOpen)]="diagramOpen" [searchTermVar]="searchTermVar"></app-tree>
      <app-reports [hospitalName]="currentHospitalName" [versionNumber]="currentVersionNumber"  [(diagramOpen)]="diagramOpen" [(reportOpen)]="reportOpen" [variables]="currentVersionVariables" [batchReports]="currentBatchReport" [searchTermVar]="searchTermVar"></app-reports>
      <app-mapping-visual [versionName]="currentVersionName" [(reportOpen)]="reportOpen" [(versionId)]="currentVersionId" [(diagramOpen)]="diagramOpen"></app-mapping-visual>
    </div>

<!--<a>Current version id: {{currentVersionId}} Length: {{hospitalVersions[currentVersionIndex].variables.length}}</a>-->
      <app-version-details *ngIf="diagramOpen==false && reportOpen==false" [searchTermVar]="searchTermVar" [searchTermCategory]="searchTermCategory" [versionId]="currentVersionId"
                           [versionName]="currentVersionName" [downloadFileName]="downloadName" [version]="currentVersion" [jsonMetadata]="currentJsonMetadata"
                           [cdeData]="false"></app-version-details>








