

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: blue;
  font-weight: 700;
  font-size: x-large;
}


.mat-tab-label{
  color: black;
  font-size: large;
}

h1{
  font-size: xx-large;
  color: #2196F3;
  margin-left: 40%;
}

input[type=text] {

  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  font-size: 15px;
  border-color: #2196F3;
}


.holder{
  horiz-align: left;
}
