<!--<button (click)="goBack()">Back</button>-->

<h1><i class="fa fa-hospital-o">{{hospital.name}}</i></h1>

<mat-tab-group class="inner" (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let version of hospitalVersions" label="{{version.name}}" id="version.version_id">
    <mat-accordion multi="true">
      <app-version-details [versionId]="currentVersionId" [versionName]="currentVersionName" [downloadFileName]="downloadName" [cdeData]="false"></app-version-details>
    </mat-accordion>
    <app-tree [versionId]="currentVersionId"></app-tree>
  </mat-tab>
  <mat-tab label="Create new Version">

    <div class="container" style="width:400px">

      <form-upload [sampleNameVersion]="createSampleFileName()"></form-upload>

      <br/>
      <br/>

      <list-upload></list-upload>
    </div>
  </mat-tab>
</mat-tab-group>



