<!--<button (click)="goBack()">Back</button>-->

<h1><i class="fa fa-hospital-o">{{hospital.name}}</i></h1>

<mat-tab-group class="inner" [selectedIndex]="hospitalVersions.length-1" (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let version of hospitalVersions" label="{{version.name}}" id="version.version_id"><!-- +' ('+version.createdAt.slice(0,10)+')'-->
    <a>{{changeVersionId(version.version_id)}}</a>
    <br>
    <div style="width: 300px; margin-bottom: 20px;">
      <ng-select class="select"
                 [allowClear]="true"
                 [options]="arrayIterationByLabel(version.variables)"
                 [disabled]="disabled"
                 (selected)="selected($event)"
                 (filterInputChanged)="filterInputChanged($event)"
                 (deselected)="deselected($event)"
                 placeholder="Search...">
      </ng-select>
    </div>


    <div>
      <app-tree [versionId]="version.version_id" [(diagramOpen)]="diagramOpen" [searchTermVar]="searchTermVar"></app-tree>
      <app-mapping-visual [versionId]="version.version_id" [(diagramOpen)]="diagramOpen"></app-mapping-visual>
    </div>

    <mat-accordion multi="true">
      <app-version-details *ngIf="diagramOpen==false" [searchTermVar]="searchTermVar" [versionId]="version.version_id"
                           [versionName]="currentVersionName" [downloadFileName]="downloadName"
                           [cdeData]="false"></app-version-details>
    </mat-accordion>

  </mat-tab>
  <mat-tab class="upload" label="Create new Version">

    <div class="container" style="width:500px">

      <form-upload [sampleNameVersion]="createSampleFileName()"></form-upload>

      <br/>
      <br/>

      <list-upload></list-upload>
    </div>
  </mat-tab>
</mat-tab-group>



