<nav>
  <ul>
    <li>
      <a [ngClass]="{'ac': selectedItem == 1}" (click)="listClick($event, 1)" routerLink="/pathologies/">Medical Conditions</a>
    </li>
    <li>
      <a [ngClass]="{'ac': selectedItem == 2}" (click)="listClick($event, 2)" routerLink="/hospitals/all">All Variables</a>
    </li>
    <li>
      <a [ngClass]="{'ac': selectedItem == 3}" (click)="listClick($event, 3)" routerLink="/hospitals/cde-variables">CDE Variables</a>
    </li>
    <li>
      <a [ngClass]="{'ac': selectedItem == 4}" (click)="listClick($event, 4)" href="/hospitals/about">About</a>
    </li>

    <button *ngIf="!loggedIn" (click)="login()">login</button>
    <button *ngIf="loggedIn" (click)="logout()">{{userName}}</button>

  </ul>


</nav>

<!--
<button  *ngIf="userName=='Admir Demiraj'" (click)="cdeReadExcel()">cde read excel</button>
<button  *ngIf="userName=='Admir Demiraj'" (click)="hospitalReadExcel()">hospital read excel</button>
<button  *ngIf="userName=='Admir Demiraj'" (click)="uploadAllReports()">upload reports</button>

-->


