
<h1><i class="fa fa-braille"> Medical Conditions</i></h1>
<div>
  <!--
  <mat-card  class="thumbnail" routerLink="/hospitals/all">
    <mat-card-title>AllHospitals</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content></mat-card-content>
    <img mat-card-md-image="hospital_image" src="assets/images/hosp2.png">
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  -->
  <div  *ngFor="let pathology of pathologies">

    <mat-card  class="thumbnail" routerLink="/pathologies/{{pathology.pathology_id}}">
      <mat-card-title>{{pathology.name | uppercase}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content></mat-card-content>
      <img mat-card-md-image="pathology_image" src="{{pathology.image_path}}">
      <mat-card-actions></mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>

  </div>

</div>
