<h1><i class="fa fa-hospital-o">Hospitals</i></h1>

<div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
  </mat-expansion-panel>
</div>
<div ngClass="{{enabled}}">
<!--  <mat-card  class="thumbnail" routerLink="/hospitals/all">
    <mat-card-title>AllHospitals</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content></mat-card-content>
    <img mat-card-md-image="hospital_image" src="assets/images/hosp2.png">
    <mat-card-actions></mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  -->
<div  *ngFor="let hospital of hospitals">

 <mat-card  class="thumbnail" routerLink="{{currentLocation}}/hospitals/{{hospital.hospital_id}}">



   <mat-card-actions>
     <button md-button>ACTION 1</button>
     <div align="end"></div>
   </mat-card-actions>
   <mat-card-title>{{hospital.name}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content></mat-card-content>
   <img mat-card-md-image="hospital_image" src="assets/images/hosp2.png">

   <mat-card-footer></mat-card-footer>
  </mat-card>

</div>

</div>
