.mat-expansion-panel-header-title{
  font-size: small;
  color: green;
  font-weight: bold;
  font-family: Helvetica;
}

.selectors {
  display: flex;
}

h1{
  font-size: xx-large;
  color: #2196F3;
  margin-left: 40%;
  font-family: Helvetica;
}

.select{
  font-family:Helvetica;
  font-size: small;
}

.categorySelect{
  font-family:Helvetica;
  font-size: small;
}

mat-accordion mat-expansion-panel p{
  font-family:Helvetica;
  font-size: small;
}
