<button class="backBtn" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>


<!--<button class="newVersion" routerLink="/hospitals/{{hospital.hospital_id}}/new-version">-->
<button class="newVersion" (click)="newVersionUrl()">
  <i class="fa fa-plus"></i>
</button>

<button class="deleteVersion" (click)="deleteCurrentCDEVersion()">
  <i class="fa fa-trash"></i>
</button>


<h1><i class="fa fa-gg-circle">Common Data Elements ({{currentPathologyName}}-{{currentVersionName}})</i></h1>
    <br>
    <div style="width: 800px; margin-bottom: 20px;">
      <ng-select class="pathologySelect"
                 [allowClear]="true"
                 [options]="pathologyOptions"
                 [disabled]="disabled"
                 (selected)="pathologySelected($event)"
                 (filterInputChanged)="pathologyFilterInputChanged($event)"
                 (deselected)="pathologyDeselected($event)"
                 placeholder="Pathologies...">
      </ng-select>
      <ng-select class="versionSelect"
                 [allowClear]="true"
                 [options]="versionOptions"
                 [disabled]="disabled"
                 (selected)="versionSelected($event)"
                 (filterInputChanged)="versionFilterInputChanged($event)"
                 (deselected)="versionDeselected($event)"
                 placeholder="Versions...">
      </ng-select>
      <ng-select class="categorySelect"
                 [allowClear]="true"
                 [options]="categoryOptions"
                 [disabled]="disabled"
                 (selected)="categorySelected($event)"
                 (deselected)="categoryDeselected($event)"
                 placeholder="Categories...">
      </ng-select>
      <ng-select class="select"
                 [allowClear]="true"
                 [options]="variableOptions"
                 [disabled]="disabled"
                 (selected)="selected($event)"
                 (filterInputChanged)="filterInputChanged($event)"
                 (deselected)="deselected($event)"
                 placeholder="Search...">
      </ng-select>
    </div>

    <app-tree [versionId]="allCdeVersions[currentVersionIndex].version_id" [(diagramOpen)]="diagramOpen" [searchTermVar]="searchTermVar"></app-tree>
    <!--<app-mapping-visual [versionId]="version.version_id" [(diagramOpen)]="diagramOpen"></app-mapping-visual>-->
    <app-version-details *ngIf="diagramOpen==false" [version]="currentVersion" [jsonMetadata]="currentJsonMetadata" [versionId]="currentVersionId" [versionName]="currentVersionName" [downloadFileName]="downloadName" [cdeData]="true" [searchTermVar]="searchTermVar" [searchTermCategory]="searchTermCategory"></app-version-details>

