


h1{
  font-size: xx-large;
  color: #2196F3;
  margin-left: 40%;
  font-family:Helvetica;

}

input[type=text] {
  border-color: #2196F3;
  font-family:Helvetica;
  font-size: small;
}


.holder{
  horiz-align: left;
}


div{
  display: flex;
}

.fa-plus{
  color: #71a436;
  font-size: 20px;
}

.newVersion{
  margin-left: 2px;
  font-family:Helvetica;
}
.newVersion:hover{
  background-color: #AFBEC5;
  font-family:Helvetica;
}

.backBtn:hover{
  background-color: darksalmon;
  font-family:Helvetica;
}

.fa-arrow-left{
  font-size: 20px;
}
