


h1{
  font-size: xx-large;
  color: #2196F3;
  margin-left: 30%;
  font-family:Helvetica;

}

input[type=text] {
  border-color: #2196F3;
  font-family:Helvetica;
  font-size: small;
}


.holder{
  horiz-align: left;
}


div{
  display: flex;
}

.fa-plus{
  color: #71a436;
  font-size: 20px;
}
.fa-trash{
  font-size: 20px;
}

.newVersion{
  margin-left: 2px;
  font-family:Helvetica;
}
.newVersion:hover{
  background-color: #AFBEC5;
  font-family:Helvetica;
}
.editVersion{
  margin-left: 2px;
  font-family:Helvetica;
}
.editVersion:hover{
  background-color: #007FBB;
  font-family:Helvetica;
}
.deleteVersion{
  margin-left: 2px;
  font-family:Helvetica;
}
.deleteVersion:hover{
  background-color: #ff4136;
  font-family:Helvetica;
}

.backBtn:hover{
  background-color: #31708f;
  font-family:Helvetica;
}

.fa-arrow-left{
  font-size: 20px;
}

.select{
  font-family:Helvetica;
  font-size: small;
}

.versionSelect{
  font-family:Helvetica;
  font-size: small;
}
.categorySelect{
  font-family:Helvetica;
  font-size: small;
}
.pathologySelect{
  font-family:Helvetica;
  font-size: small;
}
.fa-edit{
  font-size: 20px;
}
