.mat-expansion-panel-header-title{
  font-weight: bold;
  font-size: medium;
  color: green;
}

input[type=text] {

  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  font-size: 15px;
  border-color: #2196F3;

}

h1{
  font-size: xx-large;
  color: #2196F3;
  margin-left: 40%;
}
