
h1{
  font-size: xx-large;
  color: #2196F3;
  margin-left: 40%;
}


mat-expansion-panel{
  margin-top: 10px;
}

/deep/.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: blue;
  font-weight: 400;
  font-size: large;
}



.mat-expansion-panel-header-title{
  font-weight: bold;
  font-size: medium;
  color: green;

  display: table;
  table-layout: fixed;
}

input.vDetails:disabled{
  border: none;
  background: none;
}

.enabledDataBtn{
  background-color: #5c707a;
}

.editModeBtn{
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 10%;
  width: 3vw;
  height: 2vw;
}
.editModeBtn:hover{
  background-color: #666666;
}
.fa-edit{
  font-size: 24px;
}


.saveVersionBtn{
  alignment: right;
  margin-left: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #eeeeee;
  border-radius: 10%;
  width: 3vw;
  height: 2vw;
}
.saveVersionBtn:hover{
  background-color: #428bca;

}

.fa-save{
  font-size: 24px;
}


.panelHeader{
  width: 45vw;
}

.variableCode{
  display: table-cell;

}

.deleteBtn{

  position: absolute;
  border-radius: 30%;
  background-color: #D44950;
  color: black;
  display: table-cell;

}

.deleteBtn:hover{
  background-color: #B52E31;
}

