<p>
  Data Catalogue is designed to be used as a single point of truth for the data residing in hospitals that have joined the Medical Informatics Platform for the Human Brain Project.
</p>
<p>
  For a complete guide on how to use the Data Catalogue please go to <a href="https://github.com/HBPMedical/DataCatalogue">Github</a>.
</p>
<button  *ngIf="dataManager" (click)="cdeReadExcel()">cde read excel</button>
<button  *ngIf="dataManager" (click)="hospitalReadExcel()">hospital read excel</button>
<button  *ngIf="dataManager" (click)="uploadAllReports()">upload reports</button>


<button   (click)="cdeReadExcel()">cde read excel</button>
<button   (click)="hospitalReadExcel()">hospital read excel</button>
<button  (click)="uploadAllReports()">upload reports</button>

