<p>
  Data Catalogue is designed to be used as a single point of truth for the data residing in hospitals that have joined the Medical Informatics Platform for the Human Brain Project.
</p>
<p>
  For a complete guide on how to use the Data Catalogue please go to <a href="https://github.com/HBPMedical/DataCatalogue">Github</a>.
</p>

<button  *ngIf="userName=='Kostis Karozos'" (click)="cdeReadExcel()">cde read excel</button>
<button  *ngIf="userName=='Kostis Karozos'" (click)="hospitalReadExcel()">hospital read excel</button>
<button  *ngIf="userName=='Kostis Karozos'" (click)="uploadAllReports()">upload reports</button>
