div{
margin-top:10px;
  /*display: flex;*/
  align-items: center;
  font-family:Helvetica;
}

.download{
  line-height: 12px;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  font-family:Helvetica;
}


/* Darker background on mouse-over */
.download:hover {
  background-color: RoyalBlue;
}

mat-expansion-panel{
  margin-top: 10px;
}


.mat-expansion-panel-header-title{
  font-weight: bold;
  font-size: medium;
  color: green;
}

input.vDetails:disabled{
  border: none;
  background: none;
}

.deleteBtn{
  alignment: right;
  margin-left: 1vw;
  position: relative;
  border-radius: 30%;
  background-color: #D44950;
  color: black;
}

.deleteBtn:hover{
  background-color: #B52E31;
}

.enabledDataBtn{
  background-color: #5c707a;
}

.editModeBtn{
  margin-top: 2vh;
  border-radius: 10%;
  width: 3vw;
  height: 2vw;
}
.editModeBtn:hover{
  background-color: #666666;
}
.fa-edit{
  font-size: 24px;
}


.saveVersionBtn{
  alignment: right;
  margin-left: 1vw;
  margin-top: 2vh;
  background-color: #eeeeee;
  border-radius: 10%;
  width: 3vw;
  height: 2vw;
}
.saveVersionBtn:hover{
  background-color: #428bca;

}

.fa-save{
  font-size: 24px;
}
